@inherits LayoutComponentBase

<div class="page">
    <div class="top-row navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav mx-auto">
                    <div class="nav-item">
                        <NavLink class="nav-link" href="/explore" activeClass="active">
                            <i class="fas fa-globe"></i> Eksploruj
                        </NavLink>
                    </div>
                    <div class="nav-item">
                        <NavLink class="nav-link" href="/" activeClass="active">
                            <i class="fas fa-search"></i> Szukaj lotów
                        </NavLink>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>