@page "/"
@inherits HomeBase

<PageTitle>Witamy w FlightTrack</PageTitle>

<div class="home-container">
    <h1>✈️ FlightTrack <br /> Twój asystent lotów</h1>
    <p>Sprawdzaj status lotu w czasie rzeczywistym i miej pełną kontrolę nad podróżą.</p>
    <p>Udanej podróży!</p>

    <button @onclick="GoToFlightTracker">
        <i class="fas fa-plane-departure"></i> Śledź swój lot
    </button>
</div>
