html, body {
    margin: 0;
    padding: 0;
}

.page, main {
    margin: 0;
    padding: 0;
}

#leafletMap {
    height: 86vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}