@page "/explore"
@inherits ExploreBase

<PageTitle>Eksploruj</PageTitle>

<div class="explore-container">
    <h1>🌍 Eksploruj świat na mapie!</h1>
    <p>Odkrywaj świat z lotu ptaka 😊</p>

    <div id="leafletMap"></div>
</div>