.explore-container {
    max-width: 900px;
    margin: auto;
    padding: 40px;
    text-align: center;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#leafletMap {
    height: 70vh;
    width: 100%;
    border-radius: 12px;
    margin-top: 20px;
}

h1 {
    font-size: 32px;
    color: #007bff;
    margin-bottom: 15px;
}

p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}