@page "/explore"
@inject IJSRuntime JSRuntime

<PageTitle>Eksploruj</PageTitle>

<div id="leafletMap"></div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeLeafletMap");
        }
    }
}