@page "/favorite"

<PageTitle>Ulubione</PageTitle>

<div class="favorite-container">

    <h2>
        🚀 Ta funkcja zostanie dodana wkrótce! 
        <br /> Śledź nasze aktualizacje 😊
    </h2>

</div>